{:paths ["src" "resources"]
 :deps  {org.clojure/clojure               {:mvn/version "1.11.2"}
         integrant/integrant               {:mvn/version "0.8.1"}
         ring/ring-jetty-adapter           {:mvn/version "1.12.1"}
         metosin/reitit                    {:mvn/version "0.7.0-alpha7"}
         metosin/malli                     {:mvn/version "0.15.0"}
         ;; logging
         com.taoensso/timbre               {:mvn/version "5.2.1"}
         com.fzakaria/slf4j-timbre         {:mvn/version "0.3.21"}
         org.slf4j/slf4j-api               {:mvn/version "1.7.36"}
         ;; database
         com.github.seancorfield/next.jdbc {:mvn/version "1.3.925"}
         hikari-cp/hikari-cp               {:mvn/version "3.0.1"}
         com.h2database/h2                 {:mvn/version "2.2.224"} ; replace with postgresql
         }
 :aliases
 {:run-m {:main-opts ["-m" "bank-demo.core"]}
  :local {:extra-paths ["local"]
          :extra-deps  {integrant/repl           {:mvn/version "0.3.3"}
                        hato/hato                {:mvn/version "0.9.0"}
                        com.github.mhjort/trombi {:mvn/version "1.0.1"}}}
  :test  {:extra-paths ["test"]
          :extra-deps  {lambdaisland/kaocha    {:mvn/version "1.88.1376"}
                        org.clojure/test.check {:mvn/version "1.1.1"}
                        ring/ring-mock         {:mvn/version "0.4.0"}}
          :main-opts   ["-m" "kaocha.runner"]}}}
